/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
}

/* Sidebar */
#sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}
.sidebar-header {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.sidebar-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 15px;
    text-align: left;
}

.sidebar-menu li a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar-menu li a img {
    width: 20px;
    height: 20px;
    margin-right: 15px; /* Increased spacing between image and text */
}

.sidebar-menu li:hover {
    background-color: #34495e;
}
/* Dropdown Styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #34495e;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu li {
    list-style: none;
    padding: 10px;
    text-align: left;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
}

.dropdown-menu li a:hover {
    background-color: #2c3e50;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

#main-content {
    margin-left: 250px;
    padding: 20px;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #34495e;
    color: white;
}

.header-left h2 {
    font-size: 24px;
}

.header-right button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.header-right button:hover {
    background-color: #c0392b;
}

.dashboard {
    text-align: center;
    padding: 70px;
}

.dashboard h2 {
    color: #333;
}

.dashboard p {
    color: #666;
}


.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item {
    background: white;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.item button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background: #085808;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background 0.3s;
}

.item button:hover {
    background: #555;
}


/* Footer */
footer {
    background: #2C3E50;
    color: white;
    text-align: center;
    padding: 10px;
    width: calc(100% - 250px); 
    position: fixed; 
    left: 250px; 
    bottom: 0;
    opacity: 1;
}


@media (max-width: 1050px) {
    footer {
        width: calc(100% - 100px);
        left: 100px;
    }
}

@media (max-width: 500px) {
    footer {
        width: calc(100% - 80px);
        left: 80px;
    }
}
