body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar-header {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.sidebar-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 15px;
    text-align: left;
}

.sidebar-menu li a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar-menu li a img {
    width: 20px;
    height: 20px;
    margin-right: 15px; 
}

.sidebar-menu li:hover {
    background-color: #34495e;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #34495e;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu li {
    list-style: none;
    padding: 10px;
    text-align: left;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
}

.dropdown-menu li a:hover {
    background-color: #2c3e50;
}


.dropdown:hover .dropdown-menu {
    display: block;
}



.main-content {
    margin-left: 200px;
    margin-top: 60px; 
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
}

.container {
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(113, 86, 86, 0.2);
    text-align: center;
    
}

h2 {
    text-align: center;
}


.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
}

.delete-btn:hover {
    background: darkred;
}


.input-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 15px;
}


#product-id {
    padding: 10px;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: #2C3E50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #3d70a2;
}



footer {
    background: #2C3E50;
    color: white;
    text-align: center;
    padding: 10px;
    width: calc(100% - 250px); 
    position: fixed;
    left: 250px;
    bottom: 0;
}

/* Responsive Design */
@media (max-width: 850px) {
    .sidebar {
        width: 100px;
    }

    .main-content {
        margin-left: 100px;
        width: calc(100% - 100px);
    }

    footer {
        width: calc(100% - 100px);
        left: 100px;
    }
}

@media (max-width: 500px) {
    .sidebar {
        width: 80px;
    }

    .main-content {
        margin-left: 80px;
        width: calc(100% - 80px);
    }

    footer {
        width: calc(100% - 80px);
        left: 80px;
    }
}
