
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: url("img/logb.jpg") no-repeat center / cover;
    
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 10px; 
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%; 
    overflow: hidden; 
}


#header .logo {
    max-height: 50px; 
    object-fit: contain;
    margin-right: 10px;
}

#navbar {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap; 
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: color 0.3s ease;
    padding: 5px 10px;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

@media (max-width: 768px) {
    #header {
        flex-direction: column; 
        align-items: center;
    }

    #navbar {
        gap: 10px; 
    }

    #navbar li {
        margin: 5px 0;
    }
}

.main {
    width: 350px;
    height: 500px;
    background: rgb(133, 78, 91);
    overflow: hidden;
    background-color: rgb(62, 61, 60);
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    margin-top: 100px; 
}

#chk {
    display: none;
}

.signup,
.login {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

input {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #c050ca;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-in;
    cursor: pointer;
}

button:hover {
    background: #180e16;
}

.login {
    height: 460px;
    background: url("img/log1.jpg") no-repeat center / cover;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: 0.8s ease-in-out;
}

.login label {
    color: #48123d;
    transform: scale(.6);
}

#chk:checked~.login {
    transform: translateY(-500px);
}

#chk:checked~.login label {
    transform: scale(1);
}

#chk:checked~.signup label {
    transform: scale(0.9);
}

.page-container {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

